.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.box-legion {   
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.test {
	background-color: #191975 !important;
}
.progress-bar-mid {
  background-image: -webkit-linear-gradient(top, #FFD700 0%, #FFD700 100%);
  background-image:      -o-linear-gradient(top, #FFD700 0%, #FFD700 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD700), to(#FFD700));
  background-image:         linear-gradient(to bottom, #FFD700 0%, #FFD700 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFFD700', endColorstr='#ffFFD700', GradientType=0);
  background-repeat: repeat-x;
}
.image-border {
  margin-top: -20px;
}

  .navbar-blue {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#337ab7));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff337ab7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  }

  .download {
    color: #337ab7;
    background-color: white;
    border: 0px;
  }

  .navbar-text {
    color: white;
    margin: 0 0 0 2;
  }
  .right-align{
    float:right;
    color: white;
  }

  .logout {
    padding: 2 10 0 10;
    color:white;
  }

  h4.page-header {
    border-width: 2px;
    border-color: black;
  }

  .glyphicon.glyphicon-chevron-right {
    font-size: 15px;
  }
  .glyphicon.glyphicon-chevron-down {
    font-size: 15px;
  }
  .glyphicon {
    pointer-events: all !important;
  }

  .subheading {
    font-style:italic;
    font-size:13;
  }

  .comments {
    font-size:13;
    font-family: "Times New Roman", Times, serif;
  }

  .panel-heading {
    background-color:#B6B1B1 !important;
    border: 0px solid #B6B1B1   !important;
  }

  .panel-default {
    border: 2px solid #B6B1B1   !important;
  }

  table, th, td {
    border: 2px solid #B6B1B1   !important;
    font-size: 14px;
  }