<button title="Add New Comment" ng-show="hasPrivileges()" class="btn btn-info right-align" ng-click="createActionComment()">
		<span class="glyphicon glyphicon-comment" aria-hidden="true" /></button>
		<br/>

		<div ng-show="challengeAreaModel.createActionComment">
			<label>Comment</label><textarea rows="2"class="form-control" ng-model="challengeAreaModel.actionComment"/>
         <input type="file" file-model="commentFile"/>
    	<span><button class="btn btn-primary" ng-click="saveComment(output)">Save</button>				
        <button  class="btn btn-primary" ng-click="cancelCreateComment()">Cancel</button></span>
		</div>
		<br/>
		<table id="actionCommentTable" class="table table-bordered">	
		<div ng-show="challengeAreaModel.actionComments.length == 0">No Comments for this Action</div>
						<thead ng-hide="challengeAreaModel.actionComments.length == 0">
							<tr>
								<th>Date</th>
								<th>Author</th>
								<th width=50%>Comment</th>
								<th width=10%>Document</th>
								<th ng-show="isAdmin()">Actions</th>
							</tr>			
						</thead>
						<tbody ng-hide="challengeAreaModel.actionComments.length == 0"
						ng-repeat="actionComment in challengeAreaModel.actionComments | orderBy:'-comment_date'">
						<tr>
							<td>{{actionComment.comment_date}}</td>
							<td>{{actionComment.author}}</td>
							<td ng-hide="challengeAreaModel.editActionComment && challengeAreaModel.selectedActionComment == actionComment.id">{{actionComment.comment}}</td>
							<td ng-show="challengeAreaModel.editActionComment && challengeAreaModel.selectedActionComment == actionComment.id">
							<textarea class="form-control" ng-model="actionComment.comment"/></td>
							<td>
							<form ng-show="actionComment.fileName" action="uploadTest.php" method="post" enctype="multipart/form-data">
                    			<input ng-hide="true" name="fileName" value="{{actionComment.fileName}}"/>
                    			<input ng-hide="true" name="fileId" value="{{actionComment.fileId}}"/>
                    			<input name="btnDownload" type="submit" class="download" align="center" value="{{actionComment.fileName}}"/>
                  			</form>	</td>	
                  			
							<td ng-show="isAdmin()">
							<button title = "Edit" type="button" class="btn btn-danger btn-sm" ng-click="deleteComment(actionComment)">
								<span class="glyphicon glyphicon-remove" aria-hidden="true" />
							</button>
						</td>
						</tr>
						</tbody>
						</table>

		</div>