<div>
<br><h3 vertical-align="middle">Divisions</h3>
<br>
<label for="agencySelect">Lead Agency:</label>
<select name="agencySelect" id="agencySelect" ng-model="divisionModel.agency" ng-change="getDivisions(divisionModel.agency)">
	 <option ng-repeat="agency in divisionModel.agencies" value="{{agency.id}}">{{agency.name}}</option>
</select>

<button ng-show="divisionModel.agency" ng-click="createNewDivision()">Create New Division</button>
<div ng-show="divisionModel.create">
	<label>Name</label><input type="text" ng-model="divisionModel.divisionName"/>
	<label>Description</label><input type="text" ng-model="divisionModel.divisionDescription"/>
	<button ng-click="createDivision()">Save</button>
	<button ng-click="cancel()">Cancel</button>
</div>	
<br> <br><label ng-hide="divisionModel.divisions || !divisionModel.agency">No Division Added yet</label>
<br>
<div id="dvData" class="table-responsive" ng-show="divisionModel.divisions">
	<table id="testTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<td><b>Name</td>
				<td><b>Description</td>
				<td><b>Action</td>
			</tr>
		</thead>
		<tbody
			ng-repeat="division in divisionModel.divisions">
		<tr>
			<td><input ng-disabled="!divisionModel.editMode" type="text" ng-model="division.name"/></td>
			<td><input ng-disabled="!divisionModel.editMode" type="textArea" ng-model="division.description"/></td>
			<td ng-show="!divisionModel.editMode">
				<button class="btn-group btn-group-xs btn-primary" ng-click="editDivision(division)">Edit</button>
			</td>
			<td ng-show="divisionModel.editMode && divisionModel.selectedDivision == division.id">
				<button class="btn-group btn-group-xs btn-primary" ng-click="updateDivision(division)">Update</button>
				<button class="btn-group btn-group-xs btn-primary" ng-click="cancel()">Cancel</button>
				<button class="btn-group btn-group-xs btn-primary" ng-click="deleteDivision(division)">Delete</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</div>