<div>
<h3 vertical-align="middle">Divisions</h3>
<div class="form-inline">
		<label class="control-label" for="company">Lead Agency:</label>
		<select class="form-control" name="agencySelect" id="agencySelect" ng-model="divisionModel.agency" ng-change="getDivisions(divisionModel.agency)" ng-options="agency.id as agency.name for agency in divisionModel.agencies">
			<option value="">Choose One</option>
		 	<!-- <option ng-options="agency in divisionModel.agencies" value="{{agency.id}}">{{agency.name}}</option> -->
		</select>
		<button class="btn btn-primary" ng-show="divisionModel.agency" ng-click="createNewDivision()">Create New Division</button>
	
</div>


<div ng-show="divisionModel.create">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Create Division</h3>
		</div>
		<div class="panel-body">
			<form>
				<label>Name</label><input class="form-control" type="text" ng-model="divisionModel.divisionName"/>
				<label>Description</label><textArea class="form-control" ng-model="divisionModel.divisionDescription"/>
				<br/>
				<button class="btn btn-primary" ng-click="createDivision()">Save</button>
				<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
			</form>
		</div>
	</div>
</div>	
<br><label ng-hide="divisionModel.divisions || !divisionModel.agency">No Division Added yet</label>
<div id="dvData" class="table-responsive" ng-show="divisionModel.divisions">
			<table id="testTable" class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody
					ng-repeat="division in divisionModel.divisions">
				<tr>
					<td ng-show="!(divisionModel.editMode && divisionModel.selectedDivision == division.id)">
						{{division.name}}
					</td>
					<td ng-show="divisionModel.editMode && divisionModel.selectedDivision == division.id">
						<input class="form-control" type="text" ng-model="division.name"/>
					</td>

					<td ng-show="!(divisionModel.editMode && divisionModel.selectedDivision == division.id)">
						{{division.description}}
					</td>
					<td ng-show="divisionModel.editMode && divisionModel.selectedDivision == division.id">
						<textarea class="form-control" ng-show="divisionModel.editMode" ng-model="division.description"/>
					</td>
					
					<td ng-show="!divisionModel.editMode">
						<button title = "Edit" type="button" class="btn btn-primary btn-sm" ng-click="editDivision(division)">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" />
						</button>
					</td>
					<td ng-show="divisionModel.editMode && divisionModel.selectedDivision == division.id">
						<button title = "Update" type="button" class="btn btn-success btn-sm" ng-click="updateDivision(division)">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"/>
						</button>
						<button title = "Delete" type="button" class="btn btn-danger btn-sm" ng-click="deleteDivision(division)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"/>
						</button>
						<button title = "Cancel" type="button" class="btn btn-warning btn-sm" ng-click="cancel()">	
							<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"/>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
</div>