<div>
<div class="row">
	<div class="col-md-9">
		<p> <b>Output Performance Measures</b></p>
	</div>
	<div class="col-md-3">
		<button class="btn btn-primary right-align" ng-show="isAdmin()" ng-click="createNewOutput()">Create New Output Measure
		</button> 
	</div>
</div>
<br/>
<div class="panel panel-default" ng-show="challengeAreaModel.createNewOutput">
			<div class="panel-body" >
				<form>
						<label>Output Description:</label>
						<textarea rows="2"class="form-control" ng-model="challengeAreaModel.actionOutputDescription"/>
						<br/>
						<button class="btn btn-primary" ng-click="createOutput()">Save</button>
						<button class="btn btn-primary" ng-click="cancelCreateOutput()">Cancel</button></div>
				</form>
			</div>
</div>
<div ng-show="challengeAreaModel.actionOutputs.length == 0" font-size="10%">No Outputs for this Action</div>
<div ng-repeat="output in challengeAreaModel.actionOutputs">
	<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8">
							{{output.description}}
						</div>
						<div class="col-md-4">
							<div class="btn-toolbar right-align">

								<button title="Create Output Comment" class="btn btn-info" ng-show="hasPrivileges()" ng-click="createNewOutputComment(output.id)"><span class="glyphicon glyphicon-comment" aria-hidden="true" /></button>
								<button title="Delete" class="btn btn-danger" ng-show="isAdmin()" ng-click="deleteOutput(output)"><span class="glyphicon glyphicon-remove" aria-hidden="true" /></button>
							</div>
						</div>
					</div>
				</div>
	<div ng-show="challengeAreaModel.createNewOutputComment && challengeAreaModel.selectedOutput == output.id">
		<label>Comment</label><textarea rows="2"class="form-control" ng-model="challengeAreaModel.actionOutputComment"/> 
        <input type="file" file-model="commentFile"/><br>
    	<span><button class="btn btn-primary" ng-click="saveOutputComment(output)">Save</button>
		<button  class="btn btn-primary" ng-click="cancelCreateOutputComment()">Cancel</button></span>
	</div>
	<br/>

	<a href="" class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-show="!output.showComments" ng-click="showOutputComments(output)"><span class="comments">Show Comments({{output.comments.length}})</span></a>
	<a href="" class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="output.showComments" ng-click="hideOutputComments(output)"><span class="comments">Hide Comments({{output.comments.length}})</span></a>
	<br/>
	<br/>
	<table offset="10" class="table table-bordered" ng-show="output.showComments">	
		<div ng-show="output.showComments && output.comments.length == 0" font-size="10%">No Comments for this Output</div>
		<thead ng-hide="output.comments.length == 0">
						<tr>
							<th>Date </th>
							<th>Author</th>
							<th width=50%>Comment</th>
							<th width=10%>Document</th>
							<th ng-show="isAdmin()">Actions</th>
						</tr>			
		</thead>
		<tbody ng-hide="output.comments.length == 0"
					ng-repeat="outputComment in output.comments | orderBy:'-comment_date'">
					<tr>
						<td>{{outputComment.comment_date}}</td>
						<td>{{outputComment.author}}</td>
						<td>{{outputComment.comment}}</td>
						<td>
						<form ng-show="outputComment.fileName" action="uploadTest.php" method="post" enctype="multipart/form-data">
                    			<input ng-hide="true" name="fileName" value="{{outputComment.fileName}}"/>
                    			<input ng-hide="true" name="fileId" value="{{outputComment.fileId}}"/>
                    			<input name="btnDownload" type="submit" class="download" align="center" value="{{outputComment.fileName}}"/>
                  			</form>	
						</td>
						<td ng-show="isAdmin()">
						<button title = "Delete" type="button" class="btn btn-danger btn-sm" ng-click="deleteOutputComment(outputComment)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true" />
						</button>
						</td>
					</tr>
		</tbody>
	</table>
	</div>
	</div>
							
<div class="row">
	<div class="col-md-9">
		<p> <b>Outcome Performance Measures</b></p>
	</div>
	<div class="col-md-3">
		<button class="btn btn-primary right-align" ng-show="isAdmin()" ng-click="createNewOutcome()">Create New Outcome Measure</button>  
	</div>
</div>
<br/>
<div class="panel panel-default" ng-show="challengeAreaModel.createNewOutcome">
			<div class="panel-body" ng-show="challengeAreaModel.createNewOutcome">
				<form>
					<div>
						<label>Outcome Description:</label><textarea rows="2"class="form-control" ng-model="challengeAreaModel.actionOutcomeDescription"/>
						<br/>
						<button class="btn btn-primary" ng-click="createOutcome()">Save</button>
						<button class="btn btn-primary" ng-click="cancelCreateOutcome()">Cancel</button></div>
					</form>
				</div>
</div>
<div ng-show="challengeAreaModel.actionOutcomes.length == 0" font-size="10%">No Outcomes for this Action</div>
<div ng-repeat="outcome in challengeAreaModel.actionOutcomes">
	<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8">
							{{outcome.description}}
						</div>
						<div class="col-md-4">
							<div class="btn-toolbar right-align">
								<button title="Create Outcome Comment" class="btn btn-info" ng-show="hasPrivileges()" ng-click="createNewOutcomeComment(outcome.id)"><span class="glyphicon glyphicon-comment" aria-hidden="true" /></button>
								<button title="Delete" class="btn btn-danger" ng-show="isAdmin()" ng-click="deleteOutcome(outcome)"><span class="glyphicon glyphicon-remove" aria-hidden="true" /></button>
							</div>
						</div>
					</div>
				</div>
	<div ng-show="challengeAreaModel.createNewOutcomeComment && challengeAreaModel.selectedOutcome == outcome.id">
		<label>Comment</label><textarea rows="2"class="form-control" ng-model="challengeAreaModel.actionOutcomeComment"/> 
        <input type="file" file-model="commentFile"/>
    	<span><button class="btn btn-primary" ng-click="saveOutcomeComment(outcome)">Save</button>
		<button  class="btn btn-primary" ng-click="cancelCreateOutcomeComment()">Cancel</button></span>
	</div>
	<br/>

	<a href="" class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-show="!outcome.showComments" ng-click="showOutcomeComments(outcome)"><span class="comments">Show Comments({{outcome.comments.length}})</span></a>
	<a href="" class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="outcome.showComments" ng-click="hideOutcomeComments(outcome)"><span class="comments">Hide Comments({{outcome.comments.length}})</span></a>
	<br/>
	<br/>
	<table class="table table-bordered" ng-show="outcome.showComments">	
		<div ng-show="outcome.showComments && outcome.comments.length == 0" font-size="10%">No Comments for this Outcome</div>
		<thead ng-hide="outcome.comments.length == 0">
						<tr>
							<th>Date </th>
							<th>Author</th>
							<th width=50%>Comment</th>
							<th width=10%>Document</th>
							<th ng-show="isAdmin()">Actions</th>
						</tr>			
		</thead>
		<tbody ng-hide="outcome.comments.length == 0"
					ng-repeat="outcomeComment in outcome.comments | orderBy:'-comment_date'">
					<tr>
						<td>{{outcomeComment.comment_date}}</td>
						<td>{{outcomeComment.author}}</td>
						<td>{{outcomeComment.comment}}</td>
						<td >
							<form ng-show="outcomeComment.fileName" action="uploadTest.php" method="post" enctype="multipart/form-data">
                    			<input ng-hide="true" name="fileName" value="{{outcomeComment.fileName}}"/>
                    			<input ng-hide="true" name="fileId" value="{{outcomeComment.fileId}}"/>
                    			<input name="btnDownload" type="submit" class="download" align="center" value="{{outcomeComment.fileName}}"/>
                  			</form>
						</td>
						<td ng-show="isAdmin()">
						<button title = "Delete" type="button" class="btn btn-danger btn-sm" ng-click="deleteOutcomeComment(outcomeComment)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true" />
						</button>
					</td>
					</tr>
		</tbody>
	</table>
	</div>
	</div>
</div>