
<h5 align="right">
	<b>Welcome {{currentUser.firstName}} </b><a href="" ng-click="logout()">Logout</a>
</h5>
<div class="tabbable">
	<!-- Only required for left/right tabs -->
	<ul class="nav nav-pills">
		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> Quotations <span class="caret"></span>
		</a>
			<ul class="dropdown-menu" role="menu">
				<li><a data-target="#tab1" data-toggle="tab"
					ng-click="getQuotations()">View Quotations</a></li>
				<li><a data-target="#tab2" data-toggle="tab"
					ng-click="getCustomers()">Create Quotation</a></li>
				<li><a data-target="#tab4" data-toggle="tab">Search/Edit
						Quotation</a></li>
			</ul></li>

		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown">Contact Person Details<span class="caret"></span>
		</a>
			<ul class="dropdown-menu" role="menu">
				<li><a data-target="#tab5" data-toggle="tab"
					ng-show="isAdmin()" ng-click="getCardDetails()">View Contact Person Details
						</a></li>
				<li><a data-target="#tab6" data-toggle="tab"
					ng-click="getCustomers()">Add New Contact Person Details</a></li>
				<li><a data-target="#tab7" data-toggle="tab">Search/Edit
						Contact Person Details</a></li>
			</ul></li>
		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> Customers <span class="caret"></span>
		</a>
			<ul class="dropdown-menu" role="menu">
				<li><a data-target="#tab8" data-toggle="tab"
					ng-click="getCustomers()">View Customers</a></li>
				<li><a data-target="#tab9" data-toggle="tab">Add New
						Customer</a></li>
				<li><a data-target="#tab10" data-toggle="tab"
					ng-show="isAdmin()">Search/Edit Customer
						</a></li>
				
			</ul></li>
			<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> Opportunity <span class="caret"></span>
		</a>
			<ul class="dropdown-menu" role="menu">
				<li><a data-target="#tab11" data-toggle="tab"
					ng-click="getCustomers()">View Opportunities</a></li>
				<li><a data-target="#tab12" data-toggle="tab">Add New
						Opportunity</a></li>
				<li><a data-target="#tab13" data-toggle="tab"
					ng-show="isAdmin()">Search/Edit Opportunity
						</a></li>
				
			</ul></li>
		<li class="dropdown" ng-show="isAdmin()"><a
			class="dropdown-toggle" data-toggle="dropdown"> Admin <span
				class="caret"></span>
		</a>
			<ul class="dropdown-menu" role="menu">
				<li><a data-target="#tab3" data-toggle="tab">Create New
						User</a></li>
			</ul></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<br>
			<h3>Quotations</h3>
			<br> <label ng-hide="model.quotations">No Quotation
				Added yet</label>
			<div id="dvData">
				<table id="testTable" class="table table-bordered"
					ng-show="model.quotations">
					<thead>
						<tr>
							<td><b>Quotation Id</b></td>
							<td><b>Customer Name</b></td>
							<td><b>Territory</b></td>
							<td><b>Customer Type</b></td>
							<td><b>Enquiry Type</b></td>
							<td><b>Focus Area</b></td>
							<td><b>Principal</b></td>
							<td width="200"><b>Approx Quotation Value (in Lakhs)</b></td>
							<td><b>Status</b></td>
							<td><b>Created By</b></td>
							<td width="200"><b>Created Date</b></td>
							<td width="200"><b>Remarks</b></td>
						</tr>
					</thead>
					<tbody
						ng-repeat="quotation in model.quotations  | orderBy : 'quoteId'">
						<tr>
							<td>{{quotation.quoteId}}</td>
							<td>{{quotation.customer.customerName}}</td>
							<td>{{quotation.customer.territory}}</td>
							<td>{{quotation.customerType}}</td>
							<td>{{quotation.enquiryType}}</td>
							<td>{{quotation.focusArea}}</td>
							<td>{{quotation.principal}}</td>
							<td>{{quotation.quoteValue}}</td>
							<td>{{quotation.status}}</td>
							<td>{{quotation.createdBy.emailId}}</td>
							<td>{{quotation.createdDate}}</td>
							<td>{{quotation.remarks}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="btn btn-primary" name="btnExport" id="btnExport"
				onclick="tableToExcel('testTable', 'W3C Example Table')"
				ng-show="model.quotations">Export To Excel</button>
		</div>
		<div class="tab-pane" id="tab2">
			<br>
			<div class="alert alert-success" ng-show="model.quotationId">
				Quotation successfully created with Quotation Id
				#{{model.quotationId}}</div>
			<div class="alert alert-danger" ng-show="model.errorObj">
				Quotation creation failed with error :
				{{model.errorObj.description}}</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Enter a Quotation</h3>
				</div>
				<div class="panel-body">
					<form name="form" role="form">
						<div class="col-xs-4">
							<div class="form-group">
								<label>Customer:</label> <select class="form-control"
									ng-model="model.customerId" required
									ng-options="customer.customerId as customer.customerName for customer in model.customers">
									<option value="" ng-hide="model.customerId" selected>Choose
										One</option>

								</select>
							</div>

							<div class="form-group">
								<label>Customer Type:</label> <select class="form-control"
									required ng-model="model.customerType">
									<option value="" ng-hide="model.customerType" selected>Choose
										One</option>
									<option>Regular</option>
									<option>CBE</option>
								</select>
							</div>
							<div class="form-group">
								<label>Enquiry Type:</label> <select class="form-control"
									required ng-model="model.enquiryType">
									<option value="" ng-hide="model.enquiryType" selected>Choose
										One</option>
									<option>Regular</option>
									<option>MI</option>
								</select>
							</div>
							<div class="form-group">
								<label>Focus Area:</label> <select class="form-control" required
									ng-model="model.focusArea">
									<option value="" ng-hide="model.focusArea" selected>Choose
										One</option>
									<option>Inserts</option>
									<option>Round Tools</option>
									<option>Blaser</option>
									<option>TLG</option>
									<option>Others</option>
								</select>
							</div>
							<div class="form-group">
								<label>Principal:</label> <select class="form-control" required
									ng-model="model.principal">
									<option value="" ng-hide="model.principal" selected>Choose
										One</option>
									<option>Blaser</option>
									<option>Blum</option>
									<option>General</option>
									<option>Godrej</option>
									<option>Groz</option>
									<option>Komet</option>
									<option>Makino</option>
									<option>Mapal</option>
									<option>Meba</option>
									<option>Merlion</option>
									<option>Sandvik Coromant</option>
									<option>Siemens</option>
									<option>SMC</option>
									<option>Zeiss</option>
									<option>Zoller</option>

								</select>
							</div>
							<div class="form-group">
								<label>Approx Quotation Value (in Lakhs):</label> <input
									type="text" class="form-control" required
									ng-model="model.quoteValue">
							</div>

							<div class="form-group">
								<label>Remarks:</label>
								<textarea class="form-control" rows="3" ng-model="model.remarks"></textarea>
							</div>

							<div class="form-group">
								<button class="btn btn-primary" type="submit"
									ng-click="addQuote()">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab3">
			<br>
			<div class="alert alert-success" ng-show="user.userId">User
				successfully created with User Id #{{user.userId}}</div>
			<div class="alert alert-danger" ng-show="model.errorObj">User
				creation failed with error : {{model.errorObj.description}}</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Enter User Details</h3>
				</div>
				<div class="panel-body">
					<form name="form1" role="form">
						<div class="col-xs-4">
							<div class="form-group has-feedback">
								<!--  ng-class="{'has-error': form1.firstName.$invalid, 'has-success': !form1.firstName.$invalid}" -->
								<label>First Name:</label> <input type="text" required
									id="firstName" name="firstName" class="form-control"
									ng-model="user.firstName"></input>
								<!-- <span
									ng-show="form1.firstName.$invalid"
									class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span ng-show="!form1.firstName.$invalid"
									class="glyphicon glyphicon-ok form-control-feedback"></span> -->
							</div>

							<div class="form-group has-feedback">
								<!-- ng-class="{'has-error': form1.lastName.$invalid, 'has-success': !form1.lastName.$invalid}" -->
								<label>Last Name:</label> <input type="text" required
									id="lastName" name="lastName" class="form-control"
									ng-model="user.lastName"></input>
								<!--  <span
									ng-show="form1.lastName.$invalid"
									class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span ng-show="!form1.lastName.$invalid"
									class="glyphicon glyphicon-ok form-control-feedback"></span> -->
							</div>

							<div class="form-group has-feedback">
								<!-- ng-class="{'has-error': form1.email.$invalid, 'has-success': !form1.email.$invalid}" -->
								<label>Email Id:</label> <input type="email" id="email" required
									name="email" class="form-control" ng-model="user.emailId"></input>
								<!--  <span ng-show="form1.email.$invalid"
									class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span ng-show="!form1.email.$invalid"
									class="glyphicon glyphicon-ok form-control-feedback"></span> -->
							</div>

							<div class="form-group">
								<!-- ng-class="{'has-error': form1.role.$invalid, 'has-success': !form1.role.$invalid}" -->
								<label>Role:</label> <select class="form-control" required
									ng-model="user.role" name="role" id="role">
									<option value="" ng-hide="user.role" selected>Choose
										One</option>
									<option>Admin</option>
									<option>Employee</option>
								</select>
							</div>

							<div class="form-group">
								<button class="btn btn-primary" type="submit"
									ng-click="addUser()">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab4">
			<br>
			<ng-include src="'/SearchAndEditQuote.html'"
				ng-controller="QuotationCtrl"></ng-include>
		</div>
		<div class="tab-pane" id="tab5">
			<br>
			<h3>Contact Person Details</h3>
			<br> <label ng-hide="card.cards">No Contact Person Details Added
				yet</label>
			<div id="dvData">
				<table id="cardTable" class="table table-bordered"
					ng-show="card.cards">
					<thead>
						<tr>
							<td><b>Id</b></td>
							<td><b>Person Name</b></td>
							<td><b>Customer Name</b></td>
							<td><b>Designation</b></td>
							<td><b>Department</b></td>
							<td><b>Role</b></td>
							<td><b>Mobile</b></td>
							<td><b>Email Id</b></td>
							<td><b>Alt Contact No.</b></td>
							<td><b>Remarks</b></td>
						</tr>
					</thead>
					<tbody ng-repeat="card in card.cards  | orderBy : 'personId'">
						<tr>
							<td>{{card.personId}}</td>
							<td>{{card.personName}}</td>
							<td>{{card.custPerson.customerName}}</td>
							<td>{{card.designation}}</td>
							<td>{{card.department.departmentName}}</td>
							<td>{{card.rolePerson}}</td>
							<td>{{card.mobileNumber}}</td>
							<td>{{card.emailId}}</td>
							<td>{{card.alternateNumber}}</td>
							<td>{{card.remarks}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="btn btn-primary" name="btnExport1" id="btnExport1"
				onclick="tableToExcel('cardTable', 'W3C Example Table')"
				ng-show="card.cards">Export To Excel</button>
		</div>
		<div class="tab-pane" id="tab6">
			<br>
			<div class="alert alert-success" ng-show="card.cardId">Visting
				Card added successfully with Id #{{card.cardId}}</div>
			<div class="alert alert-danger" ng-show="card.errorObj">
				Contact Person Details addition failed with error :
				{{card.errorObj.description}}</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Enter Contact Person Details</h3>
				</div>
				<div class="panel-body">
					<form name="formCard" role="form">
						<div class="col-xs-4">
							<div class="form-group">
								<label>Person's Name:</label> <input type="text"
									class="form-control" required ng-model="card.name">
							</div>

							<div class="form-group">
								<label>Customer:</label> <select class="form-control"
									ng-model="model.customerId" required
									ng-options="customer.customerId as customer.customerName for customer in model.customers">
									<option value="" ng-hide="model.customerId" selected>Choose
										One</option>

								</select>
							</div>
							<div class="form-group">
								<label>Designation:</label> <input type="text"
									class="form-control" required ng-model="card.designation">
							</div>
							<div class="form-group">
								<label>Department:</label> <select class="form-control"
									ng-model="card.departmentId" required
									ng-options="department.departmentId as department.departmentName for department in card.departments">
									<option value="" ng-hide="card.departmentId" selected>Choose
										One</option>

								</select>
							</div>
							<div ng-show="card.departmentId == -1">
								<div class="form-group">
									<label>Department Name:</label> <input type="text"
										class="form-control" ng-model="card.departmentName"></input>
								</div>
							</div>
							<div class="form-group">
								<label>Role:</label> <select class="form-control" required
									ng-model="card.role">
									<option value="" ng-hide="card.role" selected>Choose
										One</option>
									<option>TM</option>
									<option>MM</option>
									<option>Supervisor</option>
									<option>Misc</option>
								</select>
							</div>
							<div class="form-group">
								<label>Mobile:</label> <input type='tel' class="form-control"
									pattern="[0]?[1-9]{1}[0-9]{9}"
									title="Please enter a valid Mobile Number" required
									ng-model="card.mobileNumber">
							</div>
							<div class="form-group">
								<label>EmailId:</label> <input type="email" class="form-control"
									required ng-model="card.emailId">
							</div>
							<div class="form-group">
								<label>Alternate contact number:</label> <input type="tel"
									pattern="[0]?[1-9]{1}[0-9]{9}[0-9]?"
									title="Please enter a valid Phone Number" class="form-control"
									ng-model="card.alternateNumber">
							</div>

							<div class="form-group">
								<label>Remarks:</label>
								<textarea class="form-control" rows="3" ng-model="card.remarks"></textarea>
							</div>

							<div class="form-group">
								<button class="btn btn-primary" type="submit"
									ng-click="addCardDetails()">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab7">
			<br>
			<ng-include src="'/SearchAndEditCard.html'"
				ng-controller="QuotationCtrl"></ng-include>
		</div>
		<div class="tab-pane" id="tab8">
			<br>
			<h3>Customers</h3>
			<br> <label ng-hide="model.customers">No Customer Added
				yet</label>
			<div id="dvData">
				<table id="customerTable" class="table table-bordered"
					ng-show="model.customers">
					<thead>
						<tr>
							<td><b>Customer Id</b></td>
							<td><b>Customer Name</b></td>
							<td><b>Territory</b></td>
							<td><b>Address</b></td>
							<td><b>Type</b></td>
							<td><b>Potential</b></td>
							<td><b>Relations</b></td>
							<td><b>Payment</b></td>
							<td><b>Tool Stationary or Rotating</b></td>
							<td><b>Material</b></td>
							<td><b>Category</b></td>
							<td><b>Industry</b></td>
							<td><b>Remarks</b></td>
						</tr>
					</thead>
					<tbody
						ng-repeat="customer in model.customers  | orderBy : 'customerId'">
						<tr>
							<td>{{customer.customerId}}</td>
							<td>{{customer.customerName}}</td>
							<td>{{customer.territory}}</td>
							<td>{{customer.address}}</td>
							<td>{{customer.type}}</td>
							<td>{{customer.potential}}</td>
							<td>{{customer.relations}}</td>
							<td>{{customer.payment}}</td>
							<td>{{customer.tools}}</td>
							<td>{{customer.material}}</td>
							<td>{{customer.category}}</td>
							<td>{{customer.industry}}</td>
							<td>{{customer.remarks}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="btn btn-primary" name="btnExportCust"
				id="btnExportCust"
				onclick="tableToExcel('customerTable', 'W3C Example Table')"
				ng-show="model.customers">Export To Excel</button>
		</div>
		<div class="tab-pane" id="tab9">
			<br>
			<div class="alert alert-success" ng-show="model.customer.customerId">Customer
				added successfully with Id #{{model.customer.customerId}}</div>
			<div class="alert alert-danger" ng-show="model.errorObj">
				Customer addition failed with error : {{model.errorObj.description}}</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Enter Customer Details</h3>
				</div>
				<div class="panel-body">
					<form name="formCustomer" role="form">
						<div class="col-xs-4">
							<div class="form-group">
								<label>Customer Name:</label> <input type="text"
									class="form-control" required
									ng-model="model.customer.customerName">
							</div>
							<div class="form-group">
								<label>Territiory:</label> <select class="form-control"
									ng-model="model.customer.territory" required>
									<option value="" ng-hide="model.customer.territory" selected>Choose
										One</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div>
							<div class="form-group">
								<label>Address:</label>
								<textarea class="form-control" rows="3" ng-model="model.customer.address"></textarea>
							</div>
							<div class="form-group">
								<label>Type:</label> <select class="form-control" required
									ng-model="model.customer.type">
									<option value="" ng-hide="model.customer.type" selected>Choose
										One</option>
									<option>Customer</option>
									<option>Principal</option>
									<option>Supplier</option>
									<option>Associate</option>
									<option>Misc</option>
								</select>
							</div>
							<div class="form-group">
								<label>Potential:</label> <select class="form-control" required
									ng-model="model.customer.potential">
									<option value="" ng-hide="model.customer.potential" selected>Choose
										One</option>
									<option>A</option>
									<option>B</option>
									<option>C</option>
								</select>
							</div>
							<div class="form-group">
								<label>Relations:</label> <select class="form-control" required
									ng-model="model.customer.relations">
									<option value="" ng-hide="model.customer.relations" selected>Choose
										One</option>
									<option>A</option>
									<option>B</option>
									<option>C</option>
								</select>
							</div>
							<div class="form-group">
								<label>Payment:</label> <select class="form-control" required
									ng-model="model.customer.payment">
									<option value="" ng-hide="model.customer.payment" selected>Choose
										One</option>
									<option>A</option>
									<option>B</option>
									<option>C</option>
								</select>
							</div>
							<div class="form-group">
								<label>Tool Stationary or Rotating:</label> <select
									class="form-control" required ng-model="model.customer.tools">
									<option value="" ng-hide="model.customer.tools" selected>Choose
										One</option>
									<option>Turning</option>
									<option>Milling</option>
									<option>Both</option>
									<option>Others</option>
								</select>
							</div>
							<div class="form-group">
								<label>Material:</label> <select multiple class="form-control"
									required ng-model="model.customer.material">
									<option>Aluminium</option>
									<option>Steel</option>
									<option>Cast iron</option>
									<option>Others</option>
								</select>
							</div>
							<div class="form-group">
								<label>Category:</label> <select class="form-control" required
									ng-model="model.customer.category">
									<option value="" ng-hide="model.customer.category" selected>Choose
										One</option>
									<option>DM</option>
									<option>PM</option>
								</select>
							</div>
							<div class="form-group">
								<label>Industry:</label> <select class="form-control" required
									ng-model="model.customer.industry">
									<option value="" ng-hide="model.customer.industry" selected>Choose
										One</option>
									<option>Tractor</option>
									<option>4 Wheeler</option>
									<option>2 Wheeler</option>
									<option>Export</option>
									<option>After market</option>
									<option>Tier 2</option>
									<option>Railways</option>
									<option>Govt. Institution</option>
									<option>job work</option>
									<option>Misc</option>
								</select>
							</div>
							<div class="form-group">
								<label>Remarks:</label>
								<textarea class="form-control" rows="3"
									ng-model="model.customer.remarks"></textarea>
							</div>

							<div class="form-group">
								<button class="btn btn-primary" type="submit"
									ng-click="addCustomer()">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
        <div class="tab-pane" id="tab10">
			<br>
			<ng-include src="'/SearchAndEditCustomer.html'"
				ng-controller="QuotationCtrl"></ng-include>
		</div>	</div>
        <div class="tab-pane" id="tab11">
        <br>
			<ng-include src="'/ViewOpportunities.html'"
				ng-controller="QuotationCtrl"></ng-include></div>    
 		<div class="tab-pane" id="tab12">
        	<br>
			<ng-include src="'/CreateOpportunity.html'"
				ng-controller="QuotationCtrl"></ng-include>
		</div>	
		<div class="tab-pane" id="tab12">
        	<br>
			<ng-include src="'/SearchAndEditOpportunity.html'"
				ng-controller="QuotationCtrl"></ng-include>
		</div>		
	</div>
